week7
.env
data/CheMed123_data.csv
data/DoctorsET_data.csv
data/EAHCI_data.csv
data/lobelia4cosmetics_data.csv
data/yetenaweg_data.csv
session_name.session
scraping_session.session
scraping.log
medical_warehouse/*
!medical_warehouse/models